@page
@model DemoRazorPage.Pages.CarView.CreateModel

<a class="nav-link text-dark" asp-area="" asp-page="/CarView/Update">Car Index</a>
<h1>Add new Car</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Car.Name">Car Name</label>
        <input asp-for="Car.Name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="Car.Manufacture">Manufacture</label>
        <input asp-for="Car.Manufacture" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="Car.Price">Price </label>
        <input asp-for="Car.Price" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="Car.Quantity">Quantity </label>
        <input asp-for="Car.Quantity" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="Car.ReleaseYear">Released Year </label>
        <input asp-for="Car.ReleaseYear" class="form-control" required>
    </div>
   
    <button type="submit" class="btn btn-primary">Create</button>
</form>
