@if (User.Identity?.IsAuthenticated == true) {
    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Logout">Logout</a>
} else {
    <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Login</a>
}